

button{
  font-size: 10px !important;
  font-weight: bolder !important;
}

body .ui-widget{
  text-align: unset !important;
}

.section{
  /* border-bottom: 1px solid rgb(22, 92, 124);  */
  text-align: left;
}

.row{
  padding: 10px;
} 


.ui-chkbox-label {
  color: #165c7c !important;
  vertical-align: middle;
  font-weight: bolder !important;
  font-size: 14px !important;
}

 
