<app-sidenav></app-sidenav>
<br>
<br>
<br>
<p-toast [showTransitionOptions]="'4ms'"></p-toast>

<br>

<p-card header=""
  [style]="{  width: '90%',
        'font-size': '10px',
        'text-align': 'center',
        'margin-left':'5.5%',
        'margin-right':'5.5%',
        'margin-top':'2%'
    
        }">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2 style="font-weight:bold;color: rgb(22, 92, 124); text-align:left"> Search Form </h2>
      <hr style="background-color:rgb(22, 92, 124); height: 3px; ">
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-lg-2 ui-sm-0"></div>
    <div class="ui-md-4 ui-lg-4 ui-sm-12">
      <div class="ui-inputgroup">
        <input type="text"
          required
          [(ngModel)]="sceachtableObj.surname"
          placeholder="Christian Name"
          style="width: 100%"
          name="surname"
          required
          pInputText />
      </div>
    </div>

    <div class="ui-md-4 ui-lg-4 ui-sm-12">
      <div class="ui-inputgroup">
        <input type="text"
          required
          [(ngModel)]="sceachtableObj.name"
          placeholder="Surname "
          style="width: 100%"
          name="name"
          required
          pInputText />
      </div>
    </div>

  </div>
  <div class="ui-g">
    <div class="ui-lg-2"></div>

    <div class="ui-md-3 ui-lg-4 ui-sm-12">
      <div class="ui-inputgroup">
        <input type="text"
          [(ngModel)]="sceachtableObj.email"
          required
          placeholder="Email"
          style="width: 100%"
          name="email"
          required
          pInputText />
      </div>
    </div>

    <div class="ui-md-3 ui-lg-4 ui-sm-12">
      <div class="ui-inputgroup">
        <input type="text"
          [(ngModel)]="sceachtableObj.phoneNumber"
          required
          placeholder="Phone Number"
          style="width: 100%"
          name="phoneNumber"
          required
          pInputText />
      </div>
    </div>


  </div>
  <!-- <div class="ui-g">
    <div class="ui-lg-2"></div>

   
    <div class="ui-md-3 ui-lg-4  ui-sm-12">
      <div class="ui-inputgroup">
        <input type="text"
          [(ngModel)]="sceachtableObj.daysOfrental"
          required
          placeholder="Days Of Rental"
          style="width: 100%"
          name="daysOfRental"
          required
          pInputText />
      </div>
    </div>
  </div> -->

  <div class="ui-g">
    <div class="ui-lg-2"></div>

    <div class="ui-md-3 ui-lg-4  ui-sm-12">
      <div class="ui-inputgroup">
        <p-dropdown [options]="status1"
          required
          name="status"
          [(ngModel)]="sceachtableObj.status"
          [autoWidth]="false"
          [style]="{ width: '395px' }"
        >
        </p-dropdown>
        <!-- <input type="text" [(ngModel)]="sceachtableObj.status" required placeholder="Search by status" style="width: 100%" name="status"
                        required pInputText /> -->
      </div>
    </div>
    <!--<div class="ui-md-3 ui-lg-4  ui-sm-12">
      <div class="ui-inputgroup">
        <p-calendar [inputStyle]="{width:'360px'}"
          id="year"
          name="appointmentDate"
          required
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2019:2090"
          showButtonBar="true"
          [(ngModel)]="findbydate"
          [showIcon]="true"
          placeholder="Search by Date">
        </p-calendar>
      </div>
    </div>-->
  </div>
  <!--<div class="ui-g">
    <div class="ui-lg-2"></div>
    <div class="ui-md-3 ui-lg-4  ui-sm-12">
      <div class="ui-inputgroup">
        <p-calendar [inputStyle]="{width:'360px'}"
          id="year"
          name="checkinDate"
          required
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2019:2090"
          showButtonBar="true"
          [(ngModel)]="checkinDate"
          [showIcon]="true"
          placeholder="Search by check-in date">
        </p-calendar>
      </div>
    </div>
    <div class="ui-md-3 ui-lg-4    ui-sm-12">
      <div class="ui-inputgroup">
        <p-calendar [inputStyle]="{width:'360px'}"
          id="year"
          name="checkoutDate"
          required
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="2019:2090"
          showButtonBar="true"
          [(ngModel)]="checkoutDate"
          [showIcon]="true"
          placeholder="Search by check-out date">
        </p-calendar>
      </div>
    </div>
  </div>-->


  <div class="section">
    <div class="row">
      <h2 style="margin-left:10px;">Current Ownership:</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oEmbassyGardens"
          label="Embassy Gardens"
          binary="true"
          [(ngModel)]="sceachtableObj.oEmbassyGardens">
        </p-checkbox>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oTheGallery"
          label="The Gallery"
          binary="true"
          [(ngModel)]="sceachtableObj.oTheGallery">
        </p-checkbox>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oTheResidence"
          label="The Residence"
          binary="true"
          [(ngModel)]="sceachtableObj.oTheResidence">
        </p-checkbox>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oCliftonPlace"
          label="Clifton Place"
          binary="true"
          [(ngModel)]="sceachtableObj.oCliftonPlace">
        </p-checkbox>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oCliftonCourt"
          label="Clifton Court"
          binary="true"
          [(ngModel)]="sceachtableObj.oCliftonCourt"></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oKaiVillas"
          label="Kai Villas"
          binary="true"
          [(ngModel)]="sceachtableObj.oKaiVillas"></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oAddyVillas"
          label="Addy Villas"
          binary="true"
          [(ngModel)]="sceachtableObj.oAddyVillas"></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="oLennox"
          label="The Lennox"
          binary="true"
          [(ngModel)]="sceachtableObj.oLennox"></p-checkbox>
      </div>

    </div>

  </div>


  <div class="section">
    <div>
      <hr style="background-color:rgb(22, 92, 124); height: 3px; ">
    </div>
    <div class="row">
      <div class="col1">

        <h2 style="margin-left:8px;">Current and Past Tenants:</h2>
      </div>

    </div>


    <div class="row">


      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tEmbassyGardens"
          label="Embassy Gardens"
          binary="true"
          [(ngModel)]="sceachtableObj.tEmbassyGardens"></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox
          name="tTheGallery"
          label="The Gallery"
          binary="true"
          [(ngModel)]="sceachtableObj.tTheGallery"></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tTheResidence"
          label="The Residence"
          binary="true"
          [(ngModel)]="sceachtableObj.tTheResidence"></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tCliftonPlace"
          label="Clifton Place"
          binary="true"
          [(ngModel)]="sceachtableObj.tCliftonPlace"></p-checkbox>
      </div>

    </div>



    <div class="row">

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tCliftonCourt"
          label="Clifton Court"
          binary="true"
          [(ngModel)]="sceachtableObj.tCliftonCourt"
          ngModel></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tKaiVillas"
          label="Kai Villas"
          binary="true"
          [(ngModel)]="sceachtableObj.tKaiVillas"
          ngModel></p-checkbox>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tAddyVillas"
          label="Addy Villas"
          binary="true"
          [(ngModel)]="sceachtableObj.tAddyVillas"
          ngModel></p-checkbox>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-12">
        <p-checkbox name="tLennox"
          label="The Lennox"
          binary="true"
          [(ngModel)]="sceachtableObj.tLennox"></p-checkbox>
      </div>



    </div>


  </div>




  <div class="ui-g">
    <div class="ui-md-4 ui-md-offset-4 ui-lg-offset-4 ui-lg-4 ui-sm-12">
      <button pButton
        type="button"
        (click)="postScearch()"
        style="width:70%;background-color:rgb(22, 92, 124)"
        label="Search"></button>
    </div>
  </div>

</p-card>
<br>


<p-card header=""
  [style]="{ 
        'font-size': '10px',
        'text-align': 'center',
        color: 'green',
        'margin-left':'5.5%',
        'margin-right':'5.5%',
        'margin-top':'2%'
        }">

  <p-toast> </p-toast>
  <div class="horizontal_scroll_div">
    <div class="scroll_table_div b">
      <div class="table_section">
        <p-table #dt
          id="table"
          [columns]="cols"
          [value]="data"
          [paginator]="true"
          [rows]="10"
          [autoLayout]="true">

          <ng-template pTemplate="caption">

            <button type="button"
              pButton
              label="Export"
              (click)="export()"
              style="float:left"></button>
            <div class="ui-lg-offset-2 ui-lg-8">
              <h2 style="font-weight:bold;color:rgb(22, 92, 124);">SEARCH LIST</h2>
              <!-- <hr style="background-color:rgb(22, 92, 124);height:3px;" /> -->
            </div>
            <div style="text-align: left">
              <i class="fa fa-search"
                style="margin:4px 4px 0 0"></i>
              <input type="text"
                pInputText
                size="50"
                placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')" />
            </div>
          </ng-template>
          <ng-template pTemplate="header"
            let-columns>
            <tr>
              <th colspan="11">CONTACT DETAILS</th>
              <th colspan="6">STATUS</th>
              <th colspan="3">SOURCE</th>
              <th colspan="9">Current Ownership</th>
              <th colspan="9">Current and Past Tenents</th>
              <!-- <th colspan="1">ACTIONS</th> -->
            </tr>
            <tr>
              <th *ngFor="let col of columns"
                style="text-align: center;word-wrap:normal;font-size:12px ">
                {{ col.header }}
              </th>
              <th style="text-align: center;">
                Actions
              </th>
            </tr>

          </ng-template>

          <ng-template pTemplate="body"
            let-rowData
            let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <!-- <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td> -->
              <div *ngIf="userTypeCurrent=='ADMIN';then adminField;else userField"></div>


              <ng-template #adminField>
                <td *ngFor="let col of columns"
                  style="overflow:auto">
                  {{ rowData[col.field] == false ? '': rowData[col.field]== true? 'Yes' : rowData[col.field] }}
                </td>
              </ng-template>

              <ng-template #userField>
                <td *ngFor="let col of columns"
                  style="overflow:auto">
                  {{ rowData[col.field] }}
                </td>
              </ng-template>

              <td>


                <div *ngIf="userTypeCurrent=='ADMIN';then showToAdmin;else showToUser"></div>

                <ng-template #showToAdmin>

                  <div *ngIf="rowData['activityStatus']=='Active'">
                    <button pButton
                      class="pbutton"
                      [ngStyle]="{width:'100%',margin:'8px'}"
                      type="button"
                      label="Delete"
                      class="ui-button-danger"
                      (click)="deletedatabyid(rowData['id']); "></button>
                  </div>



                  <div *ngIf="rowData['activityStatus']=='InActive'">
                    <button pButton
                      [ngStyle]="{width:'100%',margin:'8px'}"
                      type="button"
                      label="ReActive"
                      class="ui-button-info"
                      (click)="reActiveDataById(rowData['id']); "></button>
                  </div>


                  <button pButton
                    [ngStyle]="{width:'100%',margin:'8px','text-align':'center'}"
                    type="button"
                    label="Edit"
                    class="ui-button-success"
                    (click)="updatebyid(rowData['id'])"></button>


                  <button pButton
                    [ngStyle]="{width:'100%',margin:'8px','text-align':'center','word-wrap':'break-word'}"
                    type="button"
                    label="ActivityLogs"
                    class="ui-button-warning"
                    [routerLink]="'/userlogs/'+rowData['id']"></button>
                </ng-template>

                <ng-template #showToUser>
                  <button pButton
                    [ngStyle]="{width:'100%',margin:'8px'}"
                    type="button"
                    label="Delete"
                    class="ui-button-danger"
                    (click)="deletedatabyid(rowData['id']); ">
                  </button>
                  <button pButton
                    [ngStyle]="{width:'100%',margin:'8px','text-align':'center'}"
                    type="button"
                    label="Edit"
                    class="ui-button-success"
                    (click)="updatebyid(rowData['id'])"></button>

                </ng-template>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-card>
