.mynav{
  height: 100%;
}

h2{
  margin-left:2%;
  color: rgb(22, 92, 124);
  font-size:x-large;
}

.section{
  border-bottom: 1px solid rgb(22, 92, 124);
  padding: 20px;  
  text-align: left;
}

.row{
  padding: inherit;
} 
input.ng-invalid{border-left: 5px solid red}
input.ng-valid{border-left: 5px solid  rgb(22, 92, 124); }
