<app-sidenav></app-sidenav>
<div class="ui-g-8"
  style="margin-left:200px;">


  <!-- <div class="ui-g-8">
  <p-toast></p-toast>
  <div class="ui-lg-5 ui-md-5 ui-sm-12">
    <button
      pButton
      type="button"
      class="success"
      style="width:45%;margin-left:10% "
      label="Back"
      [routerLink]="['/scearchtable']"
    ></button>
  </div>
</div> -->

  <div class="ui-g">
    <div class="container">
      <p-card header=""
        [style]="{
          width: '100%',
          'margin-top': '5px !important',
          color: '#007ad9',
          'text-align': 'center',
          height: '30% !important'
        }">
        <hr />
        <form #myForm="ngForm">
          <h1 style="font-weight:bold;color: rgb(22, 92, 124);">
            DATA FORM
          </h1>


          <div class="row">

            <h2>Contact Details:</h2>

          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 section">
              <div class="ui-g">
                <div class="ui-lg-2"></div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">

                  <p-dropdown [options]="title"
                    name="title"
                    [(ngModel)]="data.title"></p-dropdown>
                </div>


                <!-- <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      placeholder="Surname"
                      name="surname"
                      [(ngModel)]="data.surname"
                      ngModel />
                  </div>
                </div> -->
              </div>



              <div class="ui-g">
                <div class="ui-lg-2"></div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      required
                      class="form-control"
                      placeholder="Christian Name"
                      name="name"
                      [(ngModel)]="data.name"
                      ngModel />
                  </div>
                </div>

                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      placeholder="Surname"
                      name="surname"
                      [(ngModel)]="data.surname"
                      ngModel />
                  </div>
                </div>

                <!-- <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      placeholder="email Address 1"
                      name="email1"
                      [(ngModel)]="data.email1"
                      ngModel />
                  </div>
                </div> -->
              </div>
              <div class="ui-g">
                <div class="ui-g-2"></div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      placeholder="email Address 1"
                      name="email1"
                      [(ngModel)]="data.email1"
                      ngModel />
                  </div>
                </div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      placeholder="email Address 2"
                      name="email2"
                      [(ngModel)]="data.email2"
                      ngModel />
                  </div>
                </div>

                <!-- <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input pInputText
                      placeholder="Phone number 1"
                      name="phoneNo1"
                      (keypress)="numberOnly($event)"
                      [(ngModel)]="data.phoneNo1"
                      ngModel />
                  </div>
                </div> -->
              </div>
              <div class="ui-g">
                <div class="ui-g-2"></div>

                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input pInputText
                      placeholder="Phone number 1"
                      name="phoneNo1"
                      (keypress)="numberOnly($event)"
                      [(ngModel)]="data.phoneNo1"
                      ngModel />
                  </div>
                </div>


                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input pInputText
                      placeholder="Phone number 2"
                      name="phoneNo2"
                      (keypress)="numberOnly($event)"
                      [(ngModel)]="data.phoneNo2"
                      ngModel />
                  </div>
                </div>



              </div>





              <div class="ui-g">
                <div class="ui-g-2"></div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <p-dropdown [options]="nationality"
                    name="nationality"
                    [(ngModel)]="data.nationality"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <p-dropdown [options]="countryofresidence"
                    name="countryOfResidence"
                    [(ngModel)]="data.countryOfResidence"></p-dropdown>
                </div>
              </div>


              <div class="ui-g">

                <div class="ui-g-2"></div>
                <div class="ui-g-12 ui-lg-4 ui-md-3">
                  <div class="ui-inputgroup">
                    <input type="text"
                      pInputText
                      placeholder="Company"
                      name="company"
                      [(ngModel)]="data.company"
                      ngModel />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="row">

              <h2>Source:</h2>
            </div>
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <div class="ui-g">
                  <div class="ui-g-2"></div>
                  <div class="ui-g-12 ui-lg-4 ui-md-4">
                    <div class="ui-inputgroup">
                      <p-calendar [ngStyle]="{ width: '100%' }"
                        [(ngModel)]="dateoffc"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="1947:2090"
                        name="dateOffc"
                        showButtonBar="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Date of first Contact">
                      </p-calendar>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-4 ui-md-4">
                    <p-dropdown [options]="firstpointofcontact"
                      name="firstPointOfContact"
                      [(ngModel)]="data.firstPointOfContact"></p-dropdown>
                  </div>
                </div>
                <div class="ui-g">
                  <div class="ui-g-2"></div>
                  <div class="ui-g-12 ui-lg-4 ui-md-4">
                    <div class="ui-inputgroup">
                      <input type="text"
                        pInputText
                      
                        class="form-control"
                        placeholder="Details"
                        name="details"
                        [(ngModel)]="data.details" />
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="row">
              <h2>Contact Status:</h2>
            </div>
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <div class="ui-g">
                  <div class="ui-g-1"></div>
                  <div class="ui-g-12 ui-lg-10 ui-md-10">

                    <p-dropdown [options]="status1"
                      required
                      name="status1"
                      [(ngModel)]="data.status1"></p-dropdown>

                  </div>
                </div>

                <div class="ui-g">
                  <div class="ui-g-1"></div>
                  <div class="ui-lg-10 ui-md-10">

                    <p-dropdown [options]="status2"
                      name="status2"
                      [(ngModel)]="data.status2"></p-dropdown>
                  </div>
                </div>

                <div class="ui-g">
                  <div class="ui-g-1"></div>
                  <div class="ui-g-12 ui-lg-10 ui-lg-10">

                    <p-dropdown [options]="status3"
                      name="status3"
                      [(ngModel)]="data.status3"></p-dropdown>
                  </div>
                  <!-- <div class="ui-g-2"></div>
                  <div class="ui-g-12 ui-lg-10 ui-md-10">
                    <div class="ui-inputgroup">
                      <p-calendar [ngStyle]="{ width: '100%' }"
                        [(ngModel)]="checkinDate"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="1947:2090"
                        name="checkinDate"
                        showButtonBar="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Check-in Date">
                      </p-calendar>
                    </div>
                  </div> -->
                </div>
                <!-- <div class="ui-g">
                  <div class="ui-g-2"></div>
                  <div class="ui-g-12 ui-g-4 ui-md-4">
                    <div class="ui-inputgroup">
                      <p-calendar [ngStyle]="{ width: '100%' }"
                        [(ngModel)]="checkoutDate"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        yearRange="1947:2090"
                        name="checkoutDate"
                        showButtonBar="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Check-out Date">
                      </p-calendar>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-g-4 ui-md-4">
                    <div class="ui-inputgroup">
                      <input type="text"
                        pInputText
                        placeholder="Days of Rental "
                        name="daysOfRental"
                        [(ngModel)]="data.daysOfRental"
                        ngModel />
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="section">
            <div class="row">
              <h2>Current Ownership:</h2>
            </div>
            <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oEmbassyGardens"
                  label="Embassy Gardens"
                  binary="true"
                  [(ngModel)]="data.oEmbassyGardens">
                </p-checkbox>
              </div>
              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oTheGallery"
                  label="The Gallery"
                  binary="true"
                  [(ngModel)]="data.oTheGallery">
                </p-checkbox>
              </div>
              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oTheResidence"
                  label="The Residence"
                  binary="true"
                  [(ngModel)]="data.oTheResidence">
                </p-checkbox>
              </div>
              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oCliftonPlace"
                  label="Clifton Place"
                  binary="true"
                  [(ngModel)]="data.oCliftonPlace">
                </p-checkbox>
              </div>
            </div>



            <div class="row">

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oCliftonCourt"
                  label="Clifton Court"
                  binary="true"
                  [(ngModel)]="data.oCliftonCourt"></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oKaiVillas"
                  label="Kai Villas"
                  binary="true"
                  [(ngModel)]="data.oKaiVillas"></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oAddyVillas"
                  label="Addy Villas"
                  binary="true"
                  [(ngModel)]="data.oAddyVillas"></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="oLennox"
                  label="The Lennox"
                  binary="true"
                  [(ngModel)]="data.oLennox"></p-checkbox>

              </div>
              <!-- <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-12">
                  <div class="ui-inputgroup">
                    <input pInputText
                      placeholder="Total"
                      name="total"
                      [(ngModel)]="data.total"
                      (keypress)="numberOnly($event)" />
                  </div>
                </div>
              </div> -->

            </div>

          </div>

          <div class="section">
            <div class="row">
              <h2>Current and Past Tenants:</h2>

            </div>


            <div class="row">


              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tEmbassyGardens"
                  label="Embassy Gardens"
                  binary="true"
                  [(ngModel)]="data.tEmbassyGardens"></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tTheGallery"
                  label="The Gallery"
                  binary="true"
                  [(ngModel)]="data.tTheGallery"></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tTheResidence"
                  label="The Residence"
                  binary="true"
                  [(ngModel)]="data.tTheResidence"></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tCliftonPlace"
                  label="Clifton Place"
                  binary="true"
                  [(ngModel)]="data.tCliftonPlace"></p-checkbox>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tCliftonCourt"
                  label="Clifton Court"
                  binary="true"
                  [(ngModel)]="data.tCliftonCourt"
                  ngModel></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tKaiVillas"
                  label="Kai Villas"
                  binary="true"
                  [(ngModel)]="data.tKaiVillas"
                  ngModel></p-checkbox>
              </div>

              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tAddyVillas"
                  label="Addy Villas"
                  binary="true"
                  [(ngModel)]="data.tAddyVillas"
                  ngModel></p-checkbox>
              </div>
              <div class="col-lg-3 col-sm-3 col-xs-12">
                <p-checkbox name="tLennox"
                  label="The Lennox"
                  binary="true"
                  [(ngModel)]="data.tLennox"></p-checkbox>

              </div>
            </div>
          </div>


          <div class="ui-lg-12">
            <div class="ui-inputgroup">
              <button pButton
                type="submit"
                [disabled]="myForm.invalid"
                class="success"
                label="Submit"
                style="width: 100%;background-color: rgb(22, 92, 124);"
                (click)="save();myForm.reset()"></button>
            </div>
          </div>
        </form>
        <p-toast></p-toast>
      </p-card>
    </div>
  </div>