<app-sidenav></app-sidenav>
<br />
<br />
<br />
<br />
<div *ngIf="userTypeCurrent == 'ADMIN'">
  <div class="ui-g-12">
    <div class="ui-g-offset-9 ui-lg-2 ui-md-2 ui-sm-12">
      <button pButton type="button" style="width:100%;margin-left:10% ;background-color: rgb(22, 92, 124)" label="Back" (click)="routeToUserList()"></button>
    </div>
  </div>

  <!-- <div class="container"></div> -->
  <div style="width: 100%" class="ui-g">
    <div class="ui-md-12 ui-lg-9 ui-sm-12">
      <p-card header="" [style]="{
          width: '90%',
          'font-size': '20px',
          'text-align': 'center',
          color: 'green',
          'margin-left': '25%'
        }">
        <h2 style="font-weight:bold;color: rgb(22, 92, 124);text-align: left ">
          Add User
        </h2>
        <hr style="background-color:rgb(22, 92, 124);height: 3px; " />

        <br />
        <div class="ui-g ui-fluid">
          <form style="width:100%;" #myForm="ngForm">
            <div class="ui-g">
              <div class="ui-md-2 ui-lg-2"></div>
              <div class="ui-md-12 ui-lg-8 ui-sm-12">
                <div class="ui-inputgroup">
                  <input type="text" required style="width: 100%" name="name" placeholder="Enter Name" [(ngModel)]="userObj.name" pInputText
                  />
                </div>
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-md-2 ui-lg-2"></div>
              <div class="ui-md-12 ui-lg-8 ui-sm-12">
                <div class="ui-inputgroup">
                  <!-- <input type="text" required [(ngModel)]="test.details" name="details" pInputText> -->
                  <input type="text" required style="width: 100%" name="email" placeholder="Enter Email" [(ngModel)]="userObj.email" pInputText
                  />
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-md-2 ui-lg-2"></div>
              <div class="ui-md-12 ui-lg-8 ui-sm-12">
                <div class="ui-inputgroup">
                  <input type="password" style="width: 100%" name="password" required placeholder="Enter Password" [(ngModel)]="userObj.password"
                    pInputText />
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-md-2 ui-lg-2"></div>
              <div class="ui-md-12 ui-lg-8 ui-sm-12">
                <div class="ui-inputgroup">
                  <p-dropdown [options]="usertypes" required name="userType" [(ngModel)]="userObj.userType" [style]="{ width: '562px' }" placeholder="Select user type">
                  </p-dropdown>
                </div>
              </div>
            </div>

            <div class="ui-g" style="margin-top:20px !important;">
              <div class="ui-md-3 ui-lg-3"></div>
              <div class="ui-md-5 ui-lg-5 ui-sm-12">
                <button pButton type="submit" label="Save" [disabled]="myForm.invalid" (click)="saveUser(); myForm.reset()" style="margin-top: 0px;margin-left: 20%; background-color:rgb(22, 92, 124);width:90%;"></button>
              </div>
            </div>
          </form>
        </div>
      </p-card>
    </div>
  </div>
</div>

<p-toast></p-toast>

<div *ngIf="userTypeCurrent != 'ADMIN'">
  <p-card header="" [style]="{ width: '60%', 'margin-left': '20%' }">
    <div class="ui-g">
      <div class="ui-lg-6 ui-lg-offset-3  ui-md-10 ui-md-offset-2 ui-sm-12">
        <i class="pi pi-times-circle" style="font-size:2em;color: red">
          <b style="font-family: Arial;color: rgb(22, 92, 124)">Error : You're not Admin</b>
        </i>
      </div>
    </div>
  </p-card>
</div>